{% load static %}
<!-- header section starts  -->
<header class="header">
    <a href="#" class="logo"><i class="fas fa-heartbeat"></i> Jones Christain Academy. </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#news">News/Activities</a>
        <a href="#teachers">Teachers</a>
        <a href="#review">review</a>
        <a href="#blogs">blogs</a>
        <a href="/contact">Contact Us</a>


        {% if request.user.is_staff %}
            <a href="{% url 'news_form' %}">News form</a>
            <a href="{% url 'blog_form' %}">Blog form</a>
        {% endif %}

    </nav>
    <div id="menu-btn" class="fas fa-bars"></div>
</header>

<!-- header section ends -->



